/* configuração */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(20, 19, 19);
    color: rgb(247, 231, 202);
    /* align-items: center; */
}

a {
    text-decoration: none;
    /* color: yellow; */
}

.top-menu {
    /* padding: 10vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/reggae-background2.jpg);
    background-size: contain;
    /* align-items: center; */
    /* flex-direction: initial; */
    /* vertical-align: top; */
    /* align-items: middle; */
}

#home {
    /* display: flex; */
    display: inline-table
}

.title{
    color: chartreuse;
    /* display: flex; */
}
#title2{
    color: red;
}
.nave{
    color: yellow;
    border-radius: 10px;
    border-color: green;
    border-style: solid;
    border-bottom: 100px;
    justify-content: space-between;
    /* position: center; */
}